{% extends "main/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block navigating %}
<a href="/" class="btn btn-default">Главная</a>
<a href="/products/" class="btn btn-default">Продукты</a>

<a href="/recipes/" class="btn btn-info">Рецепты</a>
<a href="/plans/" class="btn btn-default">План</a>
<a href="/buy/" class="btn btn-default">Покупки</a>
<a href="/balance/" class="btn btn-default">Баланс</a>
{% endblock %}
{% block sub_content %}
<br>
<h3 align="center"> Энергетическая ценность блюда</h3>
<table align="center">
    <tr>
        <td>Калорийность</td>
        <td>Белки</td>
        <td>Жиры</td>
        <td>Углеводы</td>
        <td>Вес</td>
        <td>Вода</td>
    </tr>
    <tr>
        <td>{{r.caloricity|floatformat}}</td>
        <td>{{r.proteins|floatformat}}</td>
        <td>{{r.fats|floatformat}}</td>
        <td>{{r.carbohydrates|floatformat}}</td>
        <td>{{r.weight|floatformat}}</td>
        <td>{{r.water|floatformat}}</td>
    </tr>
</table>
<form method="post" class="formset_form">
    {% csrf_token %}

    {{ form.management_form }}
    <table><tr><td valign="top" rowspan="2">
    <table width="90%" align="center">
        <tr>
            <td>{% bootstrap_field form.name %}</td>
            <td>{% bootstrap_field form.eat %}</td>
            <td>{% bootstrap_field form.remain %}</td>
            <td>{% bootstrap_field form.portionCnt %}</td>
        <tr>
        </tr>
            <td colspan="4">{% bootstrap_field form.instruction %}</td>

        </tr>
    </table>
    </td>
        <td valign="top">
    {{ equipment_formset.management_form }}


            <h2 align="center"> Зависит от: </h2>
            <table cellspacing="3" cellpadding="7" width="90%" align="center">
            <thead>
                <tr>
                    <td align="center">Продукт</td>
                    <td align="center">Вес в кг.</td>
                </tr>
            </thead>
            {% for link_form in equipment_formset %}
                <tr class="equipment-formset">
                    <td valign="top">{% bootstrap_field link_form.product %}</td>
                    <td valign="top" width="20%">{% bootstrap_field link_form.cnt %}</td>
                </tr>
            {% endfor %}
            <div class="placeForAddBtn"></div>
            </table>
        </td></tr><tr><td valign="bottom">
  <div align="center">
        <a href='/recipe/delete/{{pk}}/'  class="btn btn-danger" onclick="YNconfirm(); return false;">Удалить</a>
        <input align="center" class="btn btn-primary" type="submit" value="Сохранить" class="button"/>
    </div>
    <br>
    <a href="/recipe/" hidden id="deleteLin123"></a>
</td></tr></table>

</form>

{% endblock %}

